// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


/*
* カラー
*/

// 白
$primary-color: #FFF;

// 黄色
$secondary-color: #FFE162;

// グレー
$sub-color: #EEE;

// 緑
$button-color: #91C483;

// 赤
$sub-button-color: #FF6464;

$fish-first-color: #62daff;
$fish-second-color: #628eff;
$fish-third-color: #ff6262;
/*
* フォントカラー
*/

// 黒
$font-color: #333;
// 白
$white-color: #fff;


/*
* 魚の色
*/
$first-fish-color: #222;

$second-fish-color: #333;

$third-fish-color: #444;

/*
* ブランドカラー
*/
// twitter
$twitter-color: #1DA1F2;

// google
$google-color: #DB4437;

$github-color: #161415;

/*
* 文字の大きさ
*/
$fontsize-nav: 1rem;

*{
    // color: $font-color;
    box-sizing: border-box;
}

.spacing-reset {
    padding: 0;
    margin: 0;
}

.container-spacing{
    padding-top: 1rem;
}

.aside-layout {
    background-color: $sub-color;
    padding: 24px 16px;
    height: calc(100vh - 64px);
}


.main-layout {
    padding: 3rem 1.5rem 2rem;
}

.header-color{
    background-color: $secondary-color;
}
.nav{
    &-header {
        background-color: $secondary-color;
        padding: 0px 24px;
    }
    &-height {
        height: 64px;

    }
    &-list{
        height: 100%;
        li {
            a{
                font-size: $fontsize-nav;
                color: $font-color;
                display: block;
                padding: calc((64px - 18px) / 2) 1rem;
                &:hover{
                    color: $button-color;
                }
            }
        }
    }
}

/*
* auth関連
*/

.auth{
    &-header{
        margin-bottom: 4rem;
    }
    &-title{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    &-card{
        &-body{
            padding: 3rem;
        }
    }

    &-form{

        &-group{
            margin-bottom: 2rem;
            &:last-child{
                margin-bottom: 3rem;
            }
        }

    }

    &-button{
        padding: 0.5rem 0;
        color: $white-color;
        background-color: $button-color;

        &:hover {
            background-color: $secondary-color;
            color: $font-color;
        }

        &-social{
            margin-bottom: 2rem;
            &:hover {
                background-color: $secondary-color;
                color: $font-color;
            }

            &-link{
                padding: 0.5rem 0;
                color: $white-color;
                &:hover {
                    background-color: $secondary-color;
                }
            }

            &-icon{
                margin-right: 1rem;
            }

        }

        &-google{
            background-color: $google-color;
            &:hover{
                color: $google-color;
            }
        }
        &-github {
            background-color: $github-color;
            &:hover {
                color: $github-color;
            }
        }
        &-twitter {
            background-color: $twitter-color;
            &:hover {
                color: $twitter-color;
            }
        }
    }

}


.page-title{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.card-style{
    width: 18rem;
    padding: 1rem;
    margin-bottom: 3rem;

    &-image{
        object-fit: fill;
        height: 12rem;
        margin-bottom: 1.5rem;
    }

    &-body{
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    &-title{
        flex-grow: 1;
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }

    &-text{
        margin-bottom: 1.5rem;
    }

    &-button{
        color: $white-color;
        background-color: $button-color;
        margin-top: auto;

        &:hover {
            background-color: $secondary-color;
            color: $font-color;
        }

    }
}
// ボタン
.button-basic{
    border-color: $button-color;
    background-color: $button-color;
    color: $white-color;

    &:hover{
        opacity: 0.9;
        color: $white-color;
    }
}


.fish-color{
        color: #ccc;
    &-first{
        color: $fish-first-color;
    }
    &-second{
        color: $fish-second-color;
    }
    &-third{
        color: $fish-third-color;
    }
}


.calender{
    &-button-group{
        margin-bottom: 2rem;

        p{
            margin-bottom: 0;
            font-size: 1.4rem;
        }
    }
    &-button{
        background-color: $button-color;
        color: $white-color;

        &:hover {
            background-color: $secondary-color;
            color: $font-color;
        }
    }
    &-table-row{
        height: 80px
    }
    &-table-header{
        text-align: center;
        margin-bottom: none;
    }
    &-table-data{
        min-width: 80px;
    }
    &-fish-icon{
        text-align: center;
    }
}

.record-button-group{
    margin-bottom: 2rem;
}

.shop-search{
    &-form{
        margin-bottom: 2rem;
    }
    &-button{
        background-color: $button-color;
        color: $white-color;

        &:hover{
            background-color: $secondary-color;
            color: $white-color;
        }
    }
}
